.SideNav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 20%;
  background-color: darkslategray;
}

.SideNavList {
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
}

.SideNav .row {
  color: white;
  display: flex;
  width: 100%;
  height: 40px;
  justify-content: center;
  align-items: center;
}

.SideNavList .row:hover {
  cursor: pointer;
  background-color: slategray;
}

.SideNavList #active {
  background-color: white;
  color: black;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #name {
  flex: 70%;
}
